body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#calculator{
    background-color: rgb(15, 14, 14);
    border-radius: 5%;
    width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    border: 0;
    text-align: left;
    background-color: rgb(60, 59, 59);
    color: white;
}
button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(68, 66, 66);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(78, 76, 76);
}
button:active{
    background-color: rgb(116, 112, 112);
}
.functions{
    background-color: orange;
}
.functions:active{
    background-color: rgb(255, 208, 119);
}
.functions:hover{
    background-color: rgb(252, 188, 69);
}
#buttons{
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}